<nav class="navbar navbar-expand-lg custom-navbar-bg navbar-dark">

  <div class="container">

    <div class="d-flex align-items-center gap-3">
      <img src="/static/images/jsoft.jpg" alt="Logo" style="height: 80px; padding-left: 15px; border-radius: 10px;">

      <div>
        <h3 class="activities-title" style="color: rgb(14, 2, 32);">........</h3>
      </div>
    </div>
    <h3 class="activities-title" style="color: white;">A S A M B L E A - 2025</h3>
   
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- menu -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    </div>
  <!-- /menu -->
  </div>
</nav>

<!--
<script>
  <span id="year"></span>
  document.getElementById('year').textContent = '  ' + new Date().getFullYear();
</script>
-->