<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Camara</title>
</head>
<body>
  <h1>Transmitiendo desde la cámara</h1>
  <video id="remoteVideo" autoplay playsinline></video>

  <script type="module" src="/camara.js"></script>
</body>
</html>
