<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de archivos Columnas</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navigation') %>  
  <h4 style="color: rgb(2, 150, 128);">Importar Usuarios</h4>

  <div class="content">
    <br><br>

    <div class="container">
      
      <!-- Contenedor de los botones -->
      <div class="button-container">
          <!-- Botón 1: Regresar -->
          <a href="/menuprc" class="btn btn-success btn-sm">Regresar</a>

          <hr class="divider">

          <!-- Botón 2: Importar -->
          <a href="/cargascsv" class="btn btn-primary btn-sm">Importar</a>
          
          <!-- Botón 3: Otro botón -->
          <a href="/cargascsver" class="btn btn-success btn-sm">Existosos</a>

          <!-- Botón 4: Otro botón -->
          <a href="/cargascsdpl" class="btn btn-danger btn-sm">Existentes / Duplicados</a>

          <!-- Botón 5: Otro botón  cargascsadi  -->
          <a href="/cargascsadi" class="btn btn-warning btn-sm">Adicionar</a>

          <!-- Botón 6: Otro botón -->
          <!-- <button id="lastButton" class="btn btn-info btn-sm">- Confirmar -</button> -->

        </div>
  </div>

  <!-- Agregar Bootstrap JS para funcionalidades interactivas (opcional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></sc

  </div>      



  <%- include('partials/footer') %>  
</body>
</html>
