<!-- register.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Incluye SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        /* Ocultar flechas en navegadores basados en Webkit (Chrome, Safari, Edge) */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
    
        /* Ocultar flechas en Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }
    </style>
    <%- include('partials/head') %>
</head>
<body>
    <script src="app.js"></script>
    <%- include('partials/navigation') %>  
    <div class="content">
        <h4>Registro de Usuarios</h4>
        <div class="register-form30"> 
            <form id="registerForm" action="/register" method="POST"> 
                <div class="contenedor__login-register">
                    <h1></h1>
                    <input type="text" name="UsuarioNew" class="input-small" placeholder="Usuario" required autocomplete="off" style="font-size:  16px;"> <!-- v(50) -->
                    <h1></h1>
                    <input type="text" name="UsuarioNom" class="input-small" placeholder="Nombre" required autocomplete="off" style="font-size:  16px;"> <!-- v(50) -->
                    <h1></h1>
                    <input type="password" name="PassNew" class="input-small" placeholder="Contraseña" required autocomplete="off" style="font-size:  16px;" style="font-size:  16px;"> <!-- v(255) -->
                    <h1></h1>
                    <label style="font-size:  12px;">Propiedad:</label>           
                    <input type="number" name="numpropNew" class="input-small" placeholder="Numero Propiedad" required autocomplete="off" step="1" oninput="validarEntero(this)" style="font-size:  12px;">
                    <h1></h1>
                    <label style="font-size:  12px;">Coeficiente:</label>           
                    <input type="number" name="coeficiente" class="input-small" placeholder="Coeficiente" required autocomplete="off" step="0.01" oninput="limitarDecimales(this)" style="font-size: 12px;">

                    
                    <h1></h1>
                    <label for="rol" style="font-size:  12px;">rol</label>           
                    <select name="rol" id="rol" class="select-css">
                        <option value="Usuario" selected>Usuario</option>
                        <option value="Administrador">Administrador</option>
                    </select>
                    <div style="display: inline;">
                        <h5></h5>
                        <a href="/usuarios" class="btn-cancel">Regresar</a>
                        <input type="submit" class="btn-save" value="Registrar">
                    </div>
                </div>       
            </form>

        </div>
    </div>

    <script>
        function limitarDecimales(input) {
          let value = input.value;
          
          // Si hay un punto decimal
          if (value.includes('.')) {
            // Limita el número a dos decimales, pero no redondea el valor original
            let parts = value.split('.');
            if (parts[1].length > 2) {
              input.value = parts[0] + '.' + parts[1].substring(0, 2);  // Mantiene solo dos decimales
            }
          }
        }
      </script>

    <script>
        function validarEntero(input) {
          // Esto reemplaza cualquier punto (.) por una cadena vacía, asegurando que no se ingresen decimales.
          input.value = input.value.replace(/\./g, '');
        }
    </script>

    <script>
        document.getElementById('registerForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional

            const formData = new FormData(this);
            const response = await fetch('/register', {
                method: 'POST',
                body: new URLSearchParams(formData)
            });

            const result = await response.json();

            if (result.status === 'success') {
                Swal.fire({
                    title: result.title,
                    text: result.message,
                    icon: result.status,
                    showConfirmButton: false,
                    timer: 1500
                    
                }).then(() => { 
                    window.location.href = '/usuarios'; // Redirigir al usuario si es necesario
                });
            } else {
                Swal.fire({
                    title: result.title,
                    text: result.message,
                    icon: result.status,
                    showConfirmButton: true,
                    timer: 1500
                });
            }

        });
    </script>
    <%- include('partials/footer') %>  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/src/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
