<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Visor Remoto</title>
</head>
<body>
  <h1>Viendo transmisión en vivo</h1>
  <video id="remoteVideo" autoplay playsinline></video>
  <script type="module" src="/visor.js"></script>
</body>
</html>
